<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base href="/"/>
	<link rel="stylesheet" href="css/BlogSass.min.css"/>
	<link rel="stylesheet" href="css/fontawesome.css"/>
	<link rel="icon" type="images/png" href="images/png/favicon.png"/>
	<HeadOutlet/>
	<script src="https://kit.fontawesome.com/183ca15028.js" crossorigin="anonymous"></script>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
